package aoc{{.Year}}day{{.Day}}

import (
    "testing"

    //"github.com/stretchr/testify/assert"
)

func TestDay{{.Day}}_puzzle1(t *testing.T) {
    t.Skip("Not implemented yet")
}

func TestDay{{.Day}}_puzzle2(t *testing.T) {
    t.Skip("Not implemented yet")
}
